td {
    position: relative;
    text-align: center;
}

th {
    text-align: center;
}

.center {
    text-align: center;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-label {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-header {
    background-color: #594c43;
    padding-bottom: 40px;
}

.modal-title {
    float: left;
    color: white;
}

.modal-footer {
    padding-bottom: 0px;
}

a:hover {
    cursor: pointer;
}

.close {
    margin-right: 19px;
    color: white;
}

.search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-btn {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -32px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus {
    z-index: 3;
}

.span-btn:hover {
    cursor: pointer;
}

span i {
    font-size: 16px;
}

.warningInput {
    border: 1px solid #ccc;
    width: 100%;
    min-height: 28px;
    border-radius: 2px !important;
    border-color: #9aafba;
    padding: 3px 4px !important;
    color: #5c6873 !important;
}
